

.maProgression {
    margin: 50px auto;
    text-align: center;
}
.maProgression > .loader {
    color: #4cd964;
    display: inline-block;
    font-family: monospace;
    font-weight: bolder;
    margin: 50px;
    position: relative;
    text-align: center;
}
.maProgression > .loader:after {
    content: attr(data-percent);
    font-size: 12px;
    left: 0;
    line-height: 12px;
    margin-top: -6px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.maProgression svg {
    height: 100px;
    width: 100px;
}
.maProgression svg:last-child {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.maProgression svg:last-child circle {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 629;
    stroke-width: 12;
    -webkit-animation: maProgression-loader 2.4s 1;
    animation: maProgression-loader 2.4s 1;
}
@-webkit-keyframes maProgression-loader {
    0% {
        stroke-dashoffset: 0;
   }
}
@-moz-keyframes maProgression-loader {
    0% {
        stroke-dashoffset: 0;
   }
}
@keyframes maProgression-loader {
    0% {
        stroke-dashoffset: 0;
   }
}